/**
 * @Author: lichengjuan
 * @Date: 2016-07-11  11:00:00
 * @Last Modified by: lichengjuan
 * @Last modified time: 2016-07-11  11:15:37
 */

.guide{
    padding-left: .3rem;
}
.info{
    padding: .4rem .3rem .28rem 0;
    border-bottom: 1px solid #e6e6e6;
}
.title{
    font-size: .28rem;
    color: #333333;
    margin-bottom: .3rem;
}
.content{
    font-size: .24rem;
    color: #999999;
    line-height: .48rem;
}
.content-margin{
    margin-bottom: .16rem;
}
.indent{
    padding-left: .6rem;
    text-indent: -2.5em;
}
.notice{
    color:#ff5c5c;
}