<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>夺宝指南</title>
    <meta name="author" content="m.gome.com.cn">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Pragma" content="no-cache">
    <meta name="wap-font-scale" content="no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <% include tmpl/header_res.html %>
    <script>
        reqRes(['p/duobao/src/css/guide.css'])
    </script>
</head>
<body>
<div class="guide">
    <ul>
        <li class="info">
            <p class="title">1、什么是国美在线一元夺宝？</p>
            <p class="content">国美在线一元夺宝是国美在线推出的全新平台业务。商品被平分成若干等份，支持者可以支持一份或多份，当等份全部售完后，由系统根据平台规则计算出最终获得商品的支持者。</p>
        </li>
        <li class="info">
            <p class="title">2、怎么参与国美在线一元夺宝？</p>
            <p class="content">第1步：用户登录或注册国美在线账号；</p>
            <p class="content">第2步：在国美在线>>金融理财首页，点击一元夺宝进入夺宝首页，选择喜欢的商品参与夺宝（每个商品分配对应数量的号码，并且这些号码都是唯一的，用户支付1元，可以获得其中1个号码，用户获得的号码由系统随机分配，获得号码就是参与成功了）；</p>
            <p class="content">第3步：等待揭晓，用户可在我的夺宝页查看参与情况和商品揭晓结果。幸运者获得商品（当商品的所有号码都被分配完毕后，系统根据公式计算出1个幸运号码，持有该号码的用户，直接获得该商品。）；</p>
            <p class="content">第4步：夺宝成功用户等待发货，未获抢中用户订单完结。</p>
        </li>
        <li class="info">
            <p class="title">3、幸运号码的计算方法是什么？</p>
            <p class="content">1) 取该商品最后购买时间前一元夺宝频道所有商品的最后100条购买时间记录；</p>
            <p class="content">2) 按时、分、秒、毫秒排列取值之和，除以该商品总参与人次后取余数；</p>
            <p class="content">3) 余数加上10000001 即为“中奖夺宝码”；</p>
        </li>
        <li class="info">
            <p class="title">4、怎么确定是否夺取成功？</p>
            <p class="content">您夺宝成功后会收到提示短信，提示您尽快确认收货地址及联系方式。也可以登录国美在线>金融理财>我的金融>我的夺宝里查看夺宝是否成功。</p>
        </li>
        <li class="info">
            <p class="title">5、夺宝成功后多久能发货？</p>
            <p class="content">夺宝成功后会在3-15个工作日内安排发货，部分热销爆品发货周期会相对延长，敬请谅解。</p>
        </li>
        <li class="info">
            <p class="title">6、关于售后服务</p>
            <p class="content">夺宝商品由一元夺宝商家进行发货。售后服务由商家负责，商品可享受厂家所提供的全国联保服务，非质量问题，不在三包范围内，不予以退换货。请尽量亲自签收并当面拆箱验货，如果发现运输途中造成了商品的损坏，请不要签收，可以拒签退回。如遇商品质量问题并已签收，请在签收24小时之内反馈国美在线客服，超时反馈，国美在线和商家均不承担责任。</p>
        </li>
        <li class="info">
            <p class="title">7、我参与了一元夺宝能取消订单吗？</p>
            <p class="content">一元夺宝参与成功后不能取消订单。</p>
        </li>
        <li class="info">
            <p class="title">8、订单怎么自动确认收货了？</p>
            <p class="content">当物流信息显示配送成功，七天之后系统将自动确认收货。</p>
        </li>
        <li class="info">
            <p class="title">9、当期剩余人次小于我想要参与的人次怎么办？</p>
            <p class="content">方案一：可以先参与当期，再参与下一期；</p>
            <p class="content">方案二：等待新一期开期后参与。</p>
        </li>
        <li class="info">
            <p class="title">10、付款失败怎么办？</p>
            <p class="content">付款失败请查看是否已扣款，若款项未扣除，欢迎您重新支付继续夺宝，若款项已扣除，请及时与我们联系。</p>
        </li>
        <li class="info">
            <p class="title">11、为什么我参与很多次都没有成功？</p>
            <p class="content">夺宝具有很大的随机性，扩大支持金额可以增加夺宝成功概率，并非参与就能抢到宝物。夺宝有风险，建议用户理性参与。</p>
        </li>
        <li class="info">
            <p class="title">12、如何查看夺宝订单？</p>
            <p class="content">用户在国美在线App或WAP首页点击金融理财，进入我的金融>我的夺宝里查看夺宝是否成功。点击“我的夺宝”即可查看自己的夺宝订单。</p>
        </li>
        <li class="info">
            <p class="title">13、温馨提示</p>
            <p class="content">（1）一旦抢中不需要支付其他任何费用；</p>
            <p class="content">（2）是否抢中以国美在线夺宝订单状态为准；</p>
            <p class="content">（3）有问题可以咨询国美在线客服；</p>
            <p class="content">（4）如有任何非国美在线官方短信或电话，请不要将个人信息泄露给对方，谨防上当受骗；</p>
            <p class="content">（5）大家电商品配送时部分地区需额外收取远程费；</p>
            <p class="content">（6）一元夺宝的发票为1元发票。</p>
        </li>
        <li class="info">
            <p class="title">14、意见反馈</p>
            <p class="content">如果您有任何意见或建议，请添加私人夺宝顾问虎妞（微信号：gomezxjr）金融问题反馈，十分感谢！</p>
            <p class="content notice">注意：夺宝失败后款项将用于为当期幸运用户购买商品，不能退还。夺宝有风险，请谨慎参与。</p>
            <p class="content notice">上述业务推广、营销活动等内容与苹果公司无关。</p>
        </li>
    </ul>
    <div id="gotop">
        <gotop></gotop>
    </div>
    <% include tmpl/footer_res.html %>
    <script>
        require.config({
            paths:{
                'entry' : 'p/duobao/src/js/guide',
            }
        })
        //开始
        require(['entry'])
    </script>
</div>
</body>
</html>