<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>服务协议</title>
    <meta name="author" content="m.gome.com.cn">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Pragma" content="no-cache">
    <meta name="wap-font-scale" content="no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <% include tmpl/header_res.html %>
    <script>
    reqRes(['p/duobao/src/css/guide.css'])
    </script>
</head>
<body>
    <div class="guide">
        <ul>
            <li class="info">
                <p class="title">欢迎您访问并使用国美在线一元夺宝频道</p>
                <p class="content">（1.gome.com.cn 以下或称“一元夺宝”），一元夺宝服务指的是一元夺宝为用户间众筹活动提供平台和技术服务。请您（以下简称“用户”）认真阅读此服务协议的内容（特别是粗体、下划线标注内容）。如不同意此服务协议，请勿使用该服务。用户在使用过程中勾选“夺宝相关协议”等确认性提示，并登陆国美在线账户或填写用户信息完成注册,即表示用户完全接受本协议中的全部内容，此后，用户不得以未阅读本服务条款内容作任何形式的抗辩。</p>
            </li>
            <li class="info">
                <p class="title">一、 账户安全</p>
                <p class="content content-margin">1.用户使用一元夺宝服务的前提是认真阅读本协议并勾选“夺宝相关协议”。</p>
                <p class="content content-margin">2.使用该服务的用户必须是完全民事行为能力人，具备相应的权利能力和行为能力，能够独立承担法律责任。限制民事行为能力人和无民事行为能力人不能使用该服务。如经发现，一元夺宝有权立即停止与该用户的交易、注销该用户账户。</p>
                <p class="content content-margin">3.用户在使用一元夺宝服务时需要完善个人资料，保证遵守法律法规、社会主义制度、国家利益、公民合法权益、公共秩序、社会道德风尚和信息真实，不得在资料中出现违法和不良信息。若用户资料存在违法和不良信息的，一元夺宝有权采取通知限期改正、暂停使用、注销用户、向政府主管部门报告等措施。</p>
                <p class="content content-margin">4.用户应提供真实有效的个人信息并进行实名认证，未经实名认证，不能使用一元夺宝服务。</p>
                <p class="content content-margin">5.若用户资料存在违法或不良信息的，或者资料不真实、不准确的，一元夺宝有权采取通知限期改正、暂停使用、注销用户、向政府主管部门报告等措施。</p>
                <p class="content content-margin">6.用户应负责保管其账号和密码，对该账户下的所有活动和时间负全部责任。如果用户未保管好自己的账号和密码而对用户本人、一元夺宝或第三方造成损害，用户承担全部责任。</p>
                <p class="content">7.用户同意若发现任何非法使用用户账号或安全漏洞的情况，应立即通知一元夺宝。</p>
            </li>
            <li class="info">
                <p class="title">二、 一元夺宝规则</p>
                <p class="content content-margin">1.一元夺宝商品的提供商即销售商家，将商品售价以一元为基数等分成若干份，每份对应一个夺宝号码。参加夺宝的用户每支持一份可获得一个随机分配的夺宝号码，当具体商品所对应的夺宝号码分配完毕后，销售商家应当根据夺宝规则计算出一个幸运号码。</p>
                <p class="content content-margin">2.用户参加具体商品的一元夺宝项目时，支持1元钱可获得一个随机分配的夺宝号码。某件商品的全部夺宝号码均被支持并分配完毕后，根据夺宝规则计算出的一个幸运号码，持有该幸运号码的用户获得该商品。</p>
                <p class="content content-margin">3.用户下单未支付的订单可以保留五分钟，若五分钟内未支付，订单将过期关闭，需要用户重新提交夺宝订单。</p>
                <p class="content content-margin">4.夺宝参与成功以获得夺宝号码为准。</p>
                <p class="content content-margin">5.获得一元抢宝商品的用户应保证填写的收件人姓名、收货地址及联系方式真实有效。若收件人姓名、收货地址及联系方式有误，视为放弃该商品。用户因此行为造成的损失，国美在线一元夺宝不承担任何责任。因如下情况造成配送迟延或无法配送的，一元夺宝不承担责任：</p>
                    <p class="content indent">（1）客户提供的收货信息错误和不详细的地址；</p>
                    <p class="content indent">（2）货物送达无人签收，由此造成的重复配送所产生的费用及相关的后果；</p>
                    <p class="content indent">（3）不可抗力情形，例如自然灾害、突发战争等。</p>
                <p class="content content-margin">6.用户通过参与一元夺宝获得的商品，享受该商品生产厂家提供的三包服务，具体三包规定以该商品生产厂家公布的为准。夺宝商品不支持退货，若出现严重质量问题，可联系此次夺宝项目的销售商更换同款商品。</p>
                <p class="content content-margin">7.用户抢到实物商品后，需当场验货签收，若货品有严重质量问题，可拒收，并在二十四小时之内进行反馈；若用户已签收有质量问题的商品，需在二十四小时之内进行反馈，逾期未反馈，一元夺宝不承担任何责任。</p>
                <p class="content content-margin">8.用户收到商品七天内需确认收货，逾期未确认，系统将自动确认收货。</p>
                <p class="content content-margin">9.如果下列情形发生，一元夺宝有权取消用户夺宝订单：</p>
                    <p class="content indent">（1）因不可抗力、一元夺宝系统发生故障或遭受第三方攻击，或发生其他无法控制的情形</p>
                    <p class="content indent">（2）根据已经发布的或将来可能发布或更新的国美在线平台及一元夺宝各类规则、公告的规定，一元夺宝有权取消用户订单的情形。</p>
                <p class="content content-margin">10.当夺宝订单支付成功，但获取夺宝号失败，用户支付的支持款项会在一至十五个工作日内退还至用户原支付账户中。</p>
                <p class="content content-margin">11.用户了解并同意，一元夺宝仅为夺宝项目商品开具面值金额为1元的发票。</p>
                <p class="content">12.用户知悉并确认，除本协议另有约定外，无论是否获得夺宝商品，用户一旦支持夺宝项目，其所支持的具体款项均将作为夺宝商品的支持款而不能退还；用户完全了解其参与一元夺宝活动可能存在的风险，并清楚其参与一元夺宝项目并不必然可获得夺宝商品。</p>
            </li>
            <li class="info">
                <p class="title">三、 责任声明</p>
                <p class="content content-margin">1.在参加一元夺宝活动中如遭受任何人身或财务的损失、损害或伤害，不论原因为何，一元夺宝不负任何责任，用户可以直接向产品服务的提供商提出权利要求。</p>
                <p class="content content-margin">2.用户对其在一元夺宝频道中所做出的一切行为、行动及违法、违规或疏忽行为（不论是否故意）负全部责任。</p>
                <p class="content content-margin">3.如系统发生故障影响到用户服务的正常运行，一元夺宝承诺及时处理进行修复。但用户因此而产生的损失，一元夺宝不承担责任。</p>
                <p class="content content-margin">4.涉及到互联网服务，可能会受到各个环节不稳定因素的影响，存在因不可抗力、计算机病毒、黑客攻击、系统不稳定、用户所在位置、用户关机以及其他任何网络、 技术、通信线路等原因造成的服务中断或不能满足用户要求的风险，用户须自行承担以上风险，一元夺宝不承担任何责任。</p>
                <p class="content content-margin">5.用户明确同意使用一元夺宝服务的风险由用户个人承担。一元夺宝明确表示不提供任何类型的担保，不论是明确的或隐含的。用户理解并接受由其承担系统受损、资料丢失以及其它任何风险。</p>
                <p class="content">6.用户享有言论自由权利，但用户在一元夺宝中不得发表含有如下内容的言论，否则一元夺宝有权删除用户所发言论，并有权采取停止用户服务、拒绝用户参加所有夺宝商品项目等措施：</p>
                    <p class="content indent">（1）反对宪法所确定的基本原则，煽动、抗拒、破坏宪法和法律、行政法规的；</p>
                    <p class="content indent">（2）煽动颠覆国家政权，推翻社会主义制度，煽动、分裂国家，破坏国家统一的；</p>
                    <p class="content indent">（3）损害国家荣誉和利益的；</p>
                    <p class="content indent">（4）煽动民族仇恨、民族歧视，破坏民族团结的；</p>
                    <p class="content indent">（5）任何包含对种族、性别、宗教、地域内容等歧视的；</p>
                    <p class="content indent">（6）捏造或者歪曲事实，散布谣言，扰乱社会秩序的；</p>
                    <p class="content indent">（7）宣扬封建迷信、邪教、淫秽、色情、赌博、暴力、凶杀、恐怖、教唆犯罪的；</p>
                    <p class="content indent">（8）公然侮辱他人或者捏造事实诽谤他人的，或者进行其他恶意攻击的；</p>
                    <p class="content indent">（9）损害国家机关信誉的；</p>
                    <p class="content indent">（10）其他违反宪法和法律行政法规的。</p>

            </li>
            <li class="info">
                <p class="title">四、 服务条款的变更与修订</p>
                <p class="content">用户接受一元夺宝有权在必要时修改本服务协议有关条款或中断服务，且无需对用户和第三方负责。一旦协议内容有所修改，将会在网站重要页面或醒目位置第一时间给予通知。用户在享受该服务时，应当及时查阅了解修改的内容，并自觉遵守本服务协议。如果您继续使用一元夺宝的服务，则视为您同接受该协议的改动内容。</p>
            </li>
        </ul>
    </div>
    <% include tmpl/footer_res.html %>
    <script>
        require.config({
            paths: {
                'entry': 'p/duobao/src/js/show_protocal',
            }
        })
        require(['entry'])
    </script>
</body>
</html>